<a href="https://colab.research.google.com/github/nasaldrops/n1/blob/master/phpmysqlconnection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
     |████████████████████████████████| 11.9MB 251kB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=63c254d0d25c119d07f5a9b1ac943e8879fc650f05ffbad2004c4ff95a95be2a
  Stored in directory: /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [6]:
import mysql.connector

cnx = mysql.connector.connect(user='eirtime_*****', password='********',
                              host='***.227.153.52',
                              database='eirtime_*****')

cursor = cnx.cursor()

query = ("SELECT SYMBOL, OPEN, CLOSE, DIFFERENCE FROM RESULTS "
         "WHERE OPEN > 0 ORDER BY CLOSE ASC")


cursor.execute(query)

for (SYMBOL, OPEN, CLOSE, DIFFERENCE) in cursor:
  print("{}, {}, {}".format(
    SYMBOL, OPEN, CLOSE, DIFFERENCE))

cursor.close()
cnx.close()

FUTURES, 14.75, 0.0
FUTURES, 4.95, 0.0
LMND, 103.08, 101.89
LMND, 102.11, 102.81
CRSP, 126.84, 129.62
BYND, 147.3, 147.82
FUTU, 154.34, 148.09
PXD, 161.22, 162.22
GD, 190.31, 189.56
MRNA, 210.76, 221.36
BNTX, 228.25, 236.49
BA, 244.5, 243.78
GOOGL, 2435.0, 2446.61
SPCE, 36.27, 36.02
ROKU, 365.05, 382.73
SPCE, 35.82, 39.42
COST, 387.02, 392.18
ILMN, 458.84, 461.05
SNAP, 63.62, 62.93
EOG, 84.94, 84.95
HES, 89.88, 88.62